[mysqld]
max_allowed_packet=8288608

sql_mode = "STRICT_ALL_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE"

# innodb_dedicated_server parameter が利用可能な場合
# innodb_buffer_pool_size =

# sloq
slow_query_log=ON
# 出力先をTableにする場合
# log_output = TABLE
# スロークエリと判定する秒数
long_query_time=1
# スロークエリログの場所
slow_query_log-file =/var/log/slow.lov
